<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/723dab0d-6aba-46f3-99fe-ff1a8f6dee1d/resourceGroups/rg-sampleResourceGroup/providers/Microsoft.Web/sites/SwaggerDemoRK</ResourceId>
    <ResourceGroup>rg-sampleResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/723dab0d-6aba-46f3-99fe-ff1a8f6dee1d/resourceGroups/rg-sampleResourceGroup/providers/Microsoft.ApiManagement/service/SwaggerDemoRK/apis/SwaggerDemo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://swaggerdemork.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>273b98fd-510d-49f8-b49f-75f9ebc36d23</ProjectGuid>
    <MSDeployServiceURL>swaggerdemork.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SwaggerDemoRK</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SwaggerDemoRK</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>